{% extends 'home_admin.html' %}

{% block content %}


<div class="col-lg-3 mb-3">
    <img src="{{ url_for('static', filename='movie_img/' ~ movie.id ~ '.jpg') }}" alt="..." class="card-img-top">
</div>


<div class="col-lg-9 mb-3 ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">Language: {{movie.language}}</p>
            <p class="card-text">Genre: {{movie.genre}}</p>
            <p class="card-text">Country: {{movie.country}}</p>
            <p class="card-text">Release Date: {{movie.release_date}}</p>
            <p class="card-text">Duration: {{movie.duration_in_mins}}min</p>
            <p class="card-text">Description: {{movie.description}}</p>
        </div>
    </div>
</div>

{% endblock %}