{% extends 'admin_home.html' %}

{% block content %}
<style>
    .start-time-container {
        position: relative;
        display: inline-block;
    }
    
    .start-time {
        display: block;
        border: 2px solid #007bff;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
    
    </style>
    
<h2 align="center" class="mb-5">MOVIE DETIALS</h2>

<div class="col-lg-3 mb-3">
    <img src="{{ url_for('static', filename='movie_img/' ~ movie.id ~ '.jpg') }}" alt="..." class="card-img-top">
</div>


<div class="col-lg-6 mb-3 ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">Language: {{movie.language}}</p>
            <p class="card-text">Genre: {{movie.genre}}</p>
            <p class="card-text">Country: {{movie.country}}</p>
            <p class="card-text">Release Date: {{movie.release_date}}</p>
            <p class="card-text">Duration: {{movie.duration_in_mins}}min</p>
            <p class="card-text">Description: {{movie.description}}</p>
        </div>
    </div>
    <a href="{{url_for('views.admin_add_screening', movie_id=movie.id)}}" class="btn btn-primary mt-4">Add Screenings</a>
    <a href="{{url_for('views.admin_cancel_movie', movie_id=movie.id)}}" class="btn btn-warning mt-4">Cancel Movie</a>
</div>


<div class="col-lg-3 mb-3">
    <h4 class="text-center">SCREENINGS</h4>
    {% if movie.screenings %}
    <div class="accordion" id="screeningAccordion">

            {% for screening_date in screening_date_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="screening{{ screening_date }}Heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#screening{{ screening_date }}" aria-expanded="true" aria-controls="screening{{ screening_date }}">
                        {{ screening_date }}
                    </button>
                </h2>
                <div id="screening{{ screening_date }}" class="accordion-collapse" aria-labelledby="screening{{ screening_date }}Heading" data-bs-parent="#screeningAccordion">
                    <div class="accordion-body">
                        {% for screening in movie.screenings if screening.screening_date == screening_date.strftime("%Y-%m-%d")  %}
                            <div class="start-time-container">
                                <div class="start-time">{{ screening.start_time }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
    
            </div>
        {% endfor %}
    </div>

    {% else %}
    <p class="text-center mt-4">No screening added</p>
    {% endif %}
</div>



{% endblock %}