{% extends 'cus_home.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 class="mb-4 text-center">CHECKOUT</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Movie Information</h5>
                    <p class="card-text"><strong>Title:</strong> {{ booking.movie.title }}</p>
                    <p class="card-text"><strong>Screening Date:</strong>  {{ booking.screening.screening_date }}</p>
                    <p class="card-text"><strong>Start Time:</strong>  {{ booking.screening.start_time }}</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Selected Seats</h5>
                    <ul>
                        {% for seat in booking.selected_seats %}
                            <li>
                                Row {{ seat.row_number }}, Seat {{ seat.seat_number }}
                                <span class="float-right">Price: ${{ seat.seat_price }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Total Price</h5>
                    <p>Total Price: ${{ booking.total_amount }}</p>
                </div>
            </div>
            <form method="POST" action="{{ url_for('views.validate_coupon', booking_id = booking.booking_id) }}">
                <input type="hidden" name="booking_id" value="{{ booking.booking_id }}">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Apply Coupon</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" name="coupon_code" placeholder="Enter your coupon code here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="text-center mt-3">
                <a href="{{ url_for('views.customer_credit_card_payment', booking_id=booking.booking_id, username = booking.customer.username) }}"
                   class="btn btn-primary mx-2">Pay by Credit Card</a>
            
                <a href="{{ url_for('views.customer_cash_payment', booking_id=booking.booking_id, username = booking.customer.username) }}"
                   class="btn btn-primary mx-2">Pay by Cash</a>
            
            </div>
            
            
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
