{% extends 'cus_home.html' %}

{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mt-3">
                <div class="card-body">
                    <h4>TOTAL TO PAY: ${{ total_price }}</h4>
                    <br>
                    <h5 class="card-title">Apply Coupon</h5>
                    <form id="couponForm" action="{{ url_for('views.validate_coupon', total_price=total_price) }}" method="post">
                        <p>Enter your coupon code:</p>
                        <div class="input-group">
                            <input type="text" class="form-control" id="couponCode" name="coupon_code" placeholder="Coupon code">
                            <div class="input-group-append">
                                <input type="submit" value="Apply" class="btn btn-primary mt-5 rounded-0 me-5">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
