{% extends 'cus_home.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Your Bookings</h2>
    <table class="table table-bordered">
        <thead class="table-info">
            <tr>
                <th>Booking ID</th>
                <th>Screening Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Hall</th>
                <th>Number of Seats</th>
                <th>Selected Seats</th>
                <th>Total Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.booking_id }}</td>
                <td>{{ booking.screening.screening_date }}</td>
                <td>{{ booking.screening.start_time }}</td>
                <td>{{ booking.screening.end_time }}</td>
                <td>{{ booking.screening.hall.hall_name }}</td>
                <td>{{ booking.num_of_seats }}</td>
                <td>
                    <ul>
                        {% for seat in booking.selected_seats %}
                            <li>
                                Row {{ seat.row_number }}, Seat {{ seat.seat_number }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>${{ booking.total_amount }}</td>
                <td>{{ booking.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
