{% extends 'cus_home.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card" >
        <div class="card-header">
            <h2 class="card-title text-center">MOVIE TICKET DETAILS</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Booking ID:</strong> {{ booking.booking_id }}
                        </li>
                        <li class="list-group-item">
                            <strong>Customer Name:</strong> {{ booking.customer.name }}
                        </li>
                        <li class="list-group-item">
                            <strong>Movie Title:</strong> {{ booking.movie.title }}
                        </li>
                        <li class="list-group-item">
                            <strong>Screening Date:</strong> {{ booking.screening.screening_date }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Screening Start Time:</strong> {{ booking.screening.start_time }}
                        </li>
                        <li class="list-group-item">
                            <strong>Screening Hall:</strong> {{ booking.screening.hall.hall_name }}
                        </li>
                        <li class="list-group-item">
                            <strong>Number of Seats:</strong> {{ booking.num_of_seats }}
                        </li>
                        <li class="list-group-item">
                            <strong>Total Amount:</strong> ${{ booking.total_amount }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="list-group mt-3">
                        <strong>Selected Seats:</strong>
                        <ul class="list-group">
                            {% for seat in booking.selected_seats %}
                                <li class="list-group-item">Row {{ seat.row_number }} - Seat {{ seat.seat_number }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <br>
                    <div class="list-group mt-3">
                        <li class="list-group-item">
                            <strong>Booking Date:</strong> {{ booking.created_on }}
                        </li>
                        <li class="list-group-item">
                            <strong>Status:</strong> {{ booking.status }}
                        </li>
                        <!-- Add more booking details as needed -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <p class="card-text">Enjoy the show!</p>
        </div>
    </div>
</div>
{% endblock %}
