
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lincoln Cinema Online Ticket Booking System</title>
    {% include 'bootstrap.html' %}
    <style>
      .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
    </style>
  </head>
  <body>

    {% include 'nav_admin.html' %}
    {% include 'flash.html' %}
    <div class="container">
      <br>
    </div>

  
    <div class="container ">
        <div class="row mt-4">
            {% block content %}
            
            {% include 'search.html' %}

            {% for movie in all_movies %}
            <div class="col co-sm-4 col-lg-3 mb-3 ">
                <div class="card" style="width: 18rem;">
                  <img src="{{ url_for('static', filename='movie_img/' ~ movie.id ~ '.jpg') }}" alt="..." class="card-img-top">
                  <div class="card-body">
                        <!-- <h5 class="card-title">{{movie.title}}</h5> -->
                        <p class="card-text">{{movie.title}}</p>
                        <a href="{{url_for('views.admin_view_movie_details', movie_id=movie.id)}}" class="btn btn-primary">Check out</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>

    <div class="container ">
      <div class="row mt-4">
          {% block search_result %}
            
          {% endblock %}
      </div>
  </div>

  {% include 'footer.html' %}
  
  </body>
</html>
