<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lincoln Cinema Online Ticket Booking System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <style>
      .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
      .gradient-custom {
          background-image: url('your-image-url.jpg'); /* Replace 'your-image-url.jpg' with the actual URL or file path of your image */
          background-size: cover; /* To make the background image cover the entire element */
          background-repeat: no-repeat; /* Prevent background image from repeating */
      }

    </style>
      {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}

    {% block content %}


    {% endblock %}


    {% include 'footer.html' %}
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
