{% extends 'admin_home.html' %}

{% block content %}

{% if filename %}
<div class="col-lg-3 mb-3">
    <img src="{{ url_for('views.display_image', filename=filename) }}" alt="">
</div>
{% endif %}


<div class="col-lg-9 mb-3 ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">Language: {{movie.language}}</p>
            <p class="card-text">Genre: {{movie.genre}}</p>
            <p class="card-text">Country: {{movie.country}}</p>
            <p class="card-text">Release Date: {{movie.release_date}}</p>
            <p class="card-text">Duration: {{movie.duration_in_mins}}min</p>
            <p class="card-text">Description: {{movie.description}}</p>
        </div>
    </div>
</div>

{% endblock %}